<header id="header" class="header" role="banner" aria-label="Site header">
    <nav class="secondary-nav nav">
      <div class="container">
        {{ page.secondary_menu }}
      </div>
    </nav>
  <nav class="primary-nav  nav container">
    <div class="col-10">
      <a class="navbar-brand" href="#"> {% include directory ~ '/templates/_includes/global/logo.html.twig' %}</a>
        <div id="showMenu">
          <button  class="menu navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </div>
    <section class="col-2">{{ page.cart }}</section>
  </nav>

  <div class="menu-wrap">
    <div class="icon-list">
      {{ page.primary_menu }}
    </div>
	</div>
</header>